.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2em;
}
nav-link {
    color: #222222 !important;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.card {
    border: none !important;
    margin-bottom: 2rem;
    text-decoration: none !important;
    
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 400px;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}
.listing-link {
    text-decoration: none;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
}
.add-btn {
    background-color: #fe424d !important;
    border: none;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns .btn {
    margin: 0 0.5rem;
}
.edit-btn{
    background-color: #fe424d !important;
}
.btn-dark{
    background-color: #fe424d !important;
}
.title{
    text-align: center;
}
/* Map */
#map {
    height: 400px;
    width: 80vh;
}